<footer id="footer" class="site-footer">

<div class="social-icons">
    <a href="{{ '/imprint' | absolute_url }}"
        rel="noopener noreferrer nofollow"
        target="_blank"><i class="fas fa-fw fa-gavel"aria-hidden="true"></i> Impressum & Datenschutz
    </a>
</div>


  <div class="copyright">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. Created by <a rel="noopener noreferrer nofollow" target="_blank"href="https://perstarke-webdev.de/">
        Per Starke Web Development</a></p>
  </div>
</footer>
