<footer id="footer" class="site-footer grey-background">

<div class="social-icons">
    <a class="link" style="color: #000040" href="{{ '/imprint' | absolute_url }}"
        rel="noopener noreferrer nofollow"
        target="_blank"><i class="fas fa-fw fa-gavel lavendel" aria-hidden="true"></i> Impressum & Datenschutz
    </a>
</div>


  <div class="copyright" style="color: #000040;">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. Created by <a class="link" style="color: #000040;" rel="noopener noreferrer nofollow" target="_blank"href="https://perstarke-webdev.de/">
        Per Starke Web Development</a></p>
  </div>
</footer>