/*
Colors
*/

.lavendel {
    color: #F8F4FF;
}

.mid-lavendel-background {
    background-color: #C4A9E8;
}


/*
Placing adjustments
*/








/*
Slideshow
*/

#slideshow-container {
    position: relative;
    max-width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    #slideshow-container {
        height: 300px;
    }
}

#slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hide all images except the first one */
#slideshow-container img:not(:first-child) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

/* Show the first image initially */
#slideshow-container img:first-child {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

